@page
@model ÆGTESemesterProjekt.Pages.Products.GetAllProductsModel
@{
}
<h1>Products</h1>

<form method="post" class="form-inline">
    <input asp-for="SearchString" class="form-control mr-1" placeholder="Enter search term" />
    <input type="submit" asp-page-handler="NameSearch" value="Search" class="btn btn-primary" />
</form>
<form method="post" class="form-inline">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Min</span>
        </div>
        <input asp-for="MinPrice" class="form-control mr-1" />

        <div class="input-group-prepend">
            <span class="input-group-text">Max</span>
        </div>
        <input asp-for="MaxPrice" class="form-control mr-1" />
        <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn btn-primary" />
    </div>
</form>
<div class="container mx-auto mt-4" style="max-width: 95%;">
    <div class="row">
        @if (Model.Products != null)
        {
            foreach (var product in Model.Products)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="card" style="width: 18rem; margin: 10px;">

                        <img src="~/images/@product.ProductImage" style="max-width: 95%; display: block; margin: auto; padding: 25px;">

                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Id: @product.Id</h6>
                            <p class="card-text">Pris: @product.Price</p>
                            <p class="card-text">@product.Description</p>
                            <p class="card-text">@product.Type</p>
                            <div class="form-group">
                            </div>
                            <a class="btn btn-primary btn-sm" type="button" title="Detail" asp-page="DetailProduct" asp-route-id="@product.Id"><i class="fa fa-info"></i></a>
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditProduct" asp-route-id="@product.Id"><i class="fa-sharp fa-solid fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteProduct" asp-route-id="@product.Id"><i class="fas fa-trash"></i></a>
                            <a class="btn btn-primary btn-sm " type="button" title="ShoppingCart" asp-page="/ShoppingCart/CartItem" asp-route-id="@product.Id"><i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-primary btn-sm" type="button" title="Add To Wishlist" asp-page="/WishlistPage/ConfirmWishlist" asp-route-id="@product.Id"><i class="fa-sharp fa-solid fa-heart"></i></a>

                            @* <a class="btn btn-primary btn-sm" type="button" title="Wishlist" asp-page="/Wishlist/WishlistProduct" asp-route-id=""><i class="fa-sharp fa-solid fa-heart"></i></a> *@
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>
<p>
    <a class="btn btn-primary" asp-page="CreateProduct">Create a new Item</a>
</p>
