@page
@model ÆGTESemesterProjekt.Pages.Products.GetAllProductsModel
@{
}
<h1>Products</h1>
<div class="container mx-auto mt-4" style="max-width: 95%;">
    <div class="row">
        @if (Model.Products != null)
        {
            foreach (var product in Model.Products)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="card" style="width: 18rem; margin: 10px;">

                        <div class="card-body">
                            <h5 class="card-title">@product.ProductName</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Id: @product.Id</h6>
                            <p class="card-text">Pris: @product.Price</p>
                            <p class="card-text">Produkt beskrivelse</p>
                                <div class="form-group">
                    </div>
                            <a class="btn btn-primary btn-sm" type="button" title="Detail" asp-page="DetailProduct" asp-route-id="@product.Id"><i class="fa fa-info"></i></a>
                            <a class="btn btn-primary btn-sm" type="button" title="Edit" asp-page="EditProduct" asp-route-id="@product.Id"><i class="fa-sharp fa-solid fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm " type="button" title="Delete" asp-page="DeleteProduct" asp-route-id="@product.Id"><i class="fas fa-trash"></i></a>
                            <a class="btn btn-primary btn-sm " type="button" title="Order" asp-page="/Order/OrderItem" asp-route-id="@product.Id"><i class="fa fa-shopping-cart"></i></a>
@*                             <a class="btn btn-primary btn-sm" type="button" title="Wishlist" asp-page="Wishlist" asp-route-id="@Wishlist"><i class="fa-sharp fa-solid fa-heart"></i></a> *@
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

<p>
    <a class="btn btn-primary" asp-page="CreateProduct">Create a new Item</a>
</p>
