@page
@model ÆGTESemesterProjekt.Pages.IndexModel;
@{
    ViewData["Title"] = "Velkommen til ATLL - Musik til hverdagen!";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/Frontpage.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
    <style>


    </style>
</head>
<body>
    <div class="mask d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="mx-auto my-3 p-1" style="width:600px; height:60px;">
                    <div class="card mb-3">
                        <div class="card-body d-flex justify-content-between py-2">
                            <div class="input-group input-group-lg">
                                <span class="input-group-text border-0 px-1" id="basic-addon2" style="background-color:#ffffff"><i class="fas fa-search fa-lg" style="color:lightgrey;"></i></span>
                                <input type="text" class="form-control form-control-lg rounded-3" placeholder="Lad musikken fører dig frem - eller brug dine ord"
                                       aria-label="Search" aria-describedby="basic-addon2" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-image">
        <div class="hero-text">
            <h1 style="font-size:50px; font-weight: 600; text-shadow: 3px 4px 5px black">ATLL</h1>
            <h3>Musik til hverdagen</h3>
        </div>
        @* <div class="container-fluid p-3 mt-3 text-white text-center">
            <div class="row">
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Radio" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:210px; font-size:28px; border: none; border-radius: 5px;">Radio</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Headset" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:210px; font-size:28px; border: none; border-radius: 5px;">Headset</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Vinyl" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:210px; font-size:28px; border: none; border-radius: 5px;">Vinyl</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/RecordPlayer" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:210px; font-size:28px; border: none; border-radius: 5px;">Pladeafspiller</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/CleaningTool" method="get">
                        <button type="submit" class="btn" style="color:white; height:80px;width:210px; font-size:28px; border: none; border-radius: 5px;">Rengørings udstyr</button>
                    </form>
                </div>
                <div class="col-sm-2">
                    <form action="/ProductCatalog/Speaker" method="get">
                        <button type="submit" class="btn" style="color:white; height:55px;width:210px; font-size:28px; border: none; border-radius: 5px;">Højtaler</button>
                    </form>
                </div>
            </div>
        </div> *@
    </div>

    <div class="container mt-3">
        <h3>Populære</h3>
        <p class="h4">Produkter</p>
    </div>


    <section>
        <div id="demo2" class="carousel carousel-dark slide" data-bs-ride="carousel">

            @*carousel og billeder *@
            <div class="carousel-inner">
                @{
                    var favouriteProducts = Model.Products.Where(p => p.IsFavourite).ToList();
                    var totalProducts = favouriteProducts.Count;
                    bool isFirstSlide = true;

                }

                @for (int i = 0; i < totalProducts; i += 5)
                {
                    <div class="carousel-item @(isFirstSlide ? "active" : "")">
                        <div class="cards-wrapper">
                            @for (int j = i; j < i + 5 && j < totalProducts; j++)
                            {

                                var product = favouriteProducts[j];
                                <div class="product-container">
                                    <div class="product-card">
                                        <div class="product-image">
                                            @* <span class="discount-tag">50% off</span> *@
                                            <a asp-page="/Products/DetailProduct" asp-route-id="@product.Id"><img src="~/images/@product.ProductImage" class="product-thumb" alt="@product.ProductName" /> </a>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <form asp-page="/WishlistPage/ConfirmWishlist" method="post">
                                                    <input type="hidden" name="id" value="@product.Id" />
                                                <button type="submit" class="card-btn">Tilføj til ønskeliste </button>
                                            </form>
                                            }

                                        </div>
                                        <div class="product-info">
                                            <h2 class="product-brand">@product.ProductName</h2>
                                            @* <p class="product-short-description">@product.Description</p> *@
                                            <span class="price">@product.Price ,-</span>@* <span class="discount-price">@product.Price</span> *@
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    isFirstSlide = false;
                }
            </div>

            @* Kontrol Knapper *@
            <button class="pre-btn" type="button" data-bs-target="#demo2" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="nxt-btn" type="button" data-bs-target="#demo2" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
        </div>

    </section>


    <div class="container-fluid p-3 mt-3 text-dark text-center">
        <h1>Spørgsmål og Svar</h1>
        <div class="row">
            <div class="col-sm-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://images.pexels.com/photos/6671991/pexels-photo-6671991.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="Guy teaching music">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Retur af ødelagt varer</h5>
                        <p class="card-text">Hvordan får man returneret en vare som er gået i stykker?</p>
                        <a href="/Q&A/Question1" class="btn btn-dark mt-auto">Gå til spørgsmål</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://lh5.googleusercontent.com/p/AF1QipNIwieakTERq7i5kBi6U_3NUHb9rWAAkPKikuM" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Betaling og butik</h5>
                        <p class="card-text">Hvilke betalingsmetoder accepterer I?</p>
                        <a href="/Q&A/Question2" class="btn btn-dark mt-auto">Gå til spørgsmål</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="card h-100">
                    <img class="card-img-top" src="https://t4.ftcdn.net/jpg/02/67/69/25/360_F_267692541_Kai6c9ECyoJDaTBPqe5GmZLb1p0rsfR3.jpg" alt="Card image cap">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">Vinyler og Mål</h5>
                        <p class="card-text">Hvilke typer vinyler sælger I?</p>
                        <a href="/Q&A/Question3" class="btn btn-dark mt-auto">Gå til spørgsmål</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row justify-content-center align-items-center pb-5" style="height:5px;">
            <div class="col-auto">
                <a href="#" class="btn-pille btn-dark">Se alle spørgsmål</a>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-end align-items-center">
            <div class="col-md-7 pt-5" style="height:500px; width:650px;">
                <img src="https://images.pexels.com/photos/1751731/pexels-photo-1751731.jpeg?cs=srgb&dl=pexels-brent-keane-181485-1751731.jpg&fm=jpg" class="img-fluid" alt="Newsletter Image">
            </div>
            <div class="col-md-5">
                <div class="card-news">
                    <div class="card-body">
                        <h3 class="card-title text-left mb-4">Tilmed dig nyhedsbrevet.</h3>
                        <form>
                            <div class="form-group">
                                <label for="exampleInputName">Navn</label>
                                <input type="text" class="form-control mb-2" id="exampleInputName" aria-describedby="nameHelp" placeholder="Navn">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
                                <button type="submit" class="btn btn-dark btn-submit">Tilmed</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>




