@page
@model ÆGTESemesterProjekt.Pages.Order.MyOrdersModel
@{
}
<h1>Mine Ordre</h1>
<div class="test">
    <table class="table table-bordered table-hover table-striped" width="60%">
        <thead>
            <tr class="btn-secondary active">
                <th>Order ID</th>
                <th>Order Dato</th>
                <th>Product Id</th>
                <th>Product</th>
                <th>Pris</th>
                <th>Antal</th>
                <th>Total pris</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.MyOrders != null)
            {
                decimal totalPrice = 0; 
                foreach (var order in Model.MyOrders)
                {
                    <tr class="btn-secondary">
                        <td>@order.OrderId</td>
                        <td>@order.Date</td>
                        <td>@order.ProductId</td>
                        <td>@order.Product.ProductName</td>
                        <td>@order.Product.Price</td>
                        <td>@order.Count</td>
                        <td>@(order.Count * order.Product.Price)</td>
                        @*Tilføjer den individuelle totalpris til den overordnede r*@
                        <form method="post">
                            <input type="text" name="discountCode" placeholders="Indtast Rabat Kode"/>
                            <input type="submit" value="Tilføj Rabat"/>
                        </form>
                        @if (Model.DiscountApplied)
                        {
                            <text>Total Price: @totalPrice</text>
                            <text>Final Total after Discount: @Model.FinalPrice</text>
                            @* <p>Total Price: @Model.Totalprice.ToString("C")</p>
                            <p>Discount Applied: @Model.DiscountAmount.ToString("C")</p>
                            <p>Final Total after Discount: @Model.FinalPrice.ToString("C")</p> *@
                        }
                        @{
                            // Decimal Discount = 0.0m;
                            // string userDiscount = Request.Form["discountCode"];
                            // string discountCode1 = "uWu";

                            // totalPrice += order.Count * order.Product.Price;

                            // if (userDiscount == discountCode1)
                            // {
                            //     Discount = 0.10m;
                            // }
                        }
                    </tr>
                }
                <tr class="btn-secondary">
                    <td colspan="6" style="text-align: right;"><strong>Total pris for alle produkter:</strong></td>
                    <td>@totalPrice</td>
                </tr>
                 }
            }
        </tbody>
    </table>
</div>