@page
@model ÆGTESemesterProjekt.Pages.Order.OrderConfirmationModel

<h2>Order Confirmation</h2>

@if (Model.Order != null)
{
    <p>Order ID: @Model.Order.OrderId</p>
    <p>User ID: @Model.Order.UserId</p>
    <p>Order Date: @Model.Order.Date</p>
    <p>Total: @Model.Order.FinalPrice</p>

    <h3>Order Items</h3>
    <ul>
        @foreach (var item in Model.Order.OrderItems)
        {
            <li>Product ID: @item.ProductId, Quantity: @item.Count, Price: @item.Price</li>
        }
    </ul>
}
else
{
    <p>Order not found.</p>
}