@page
@model ÆGTESemesterProjekt.Pages.Order.OrderConfirmationModel

<h2>Order Confirmation</h2>

@if (Model.Order != null)
{
    <p>Ordre ID: @Model.Order.OrderId</p>
    <p>Bruger ID: @Model.Order.UserId</p>
    <p>Ordre Dato: @Model.Order.Date</p>
    <p>Ialt: @Model.Order.FinalPrice</p>

    <h3>Ordreoversigt</h3>
    <ul>
        @foreach (var item in Model.Order.OrderItems)
        {
            <li>Produkt Id: @item.ProductId, Quantity: @item.Count, Price: @item.Price</li>
        }
    </ul>
}
else
{
    <p>Ordre ikke fundet.</p>
}