@page
@model ÆGTESemesterProjekt.Pages.ProductCatalog.RadioModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/ProductPages.css" />
</head>

<div class="container text-center mt-5 py-5" style="background-color:rgb(249,249,249)">
    <h1 class="display-1 fw-bold" style="color:darkorange;">Radioer</h1>
    <p class="lead">Din Daglige Dose Af Lyd</p>
</div>

<div class="container" style="max-width: 95%; margin-top: 2%; background-color: rgb(248,247,246); padding: 20px;">
    <div class="row">
        <div class="col-md-2 border border-2 pt-2 pb-2 filter-container">
            <form method="post" class="form-inline">
                <input asp-for="SearchString" class="form-control form-control-sm mb-1" placeholder="Søg efter produkt" />
                <input type="submit" asp-page-handler="NameSearch" value="Søg" class="btn mb-3" />
            </form>
            <form method="post" class="form-inline">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Min</span>
                    </div>
                    <input asp-for="MinPrice" class="form-control form-control-sm mx-1" />

                    <div class="input-group-prepend">
                        <span class="input-group-text">Max</span>
                    </div>
                    <input asp-for="MaxPrice" class="form-control form-control-sm mr-1" />
                    <input type="submit" asp-page-handler="PriceFilter" value="Filter" class="btn mx-2" />
                </div>
            </form>
        </div>

        <div class="col-md-10">
            <div class="row">
                @if (Model.RadioProducts != null)
                {
                    foreach (var product in Model.RadioProducts)
                    {
                        <div class="col-md-3 col-sm-6 mb-4">
                            <div class="card" style="height: 100%; border: 1px solid rgb(188, 182, 179);">
                                <a asp-page="/Products/DetailProduct" asp-route-id="@product.Id" style="text-decoration: none; color: inherit;">
                                    <img src="~/images/@product.ProductImage" class="card-img-top" style="height: auto; width: 100%; padding: 15px;">
                                    <div class="card-body">
                                        <h5 class="card-title" style="font-size: 1.25rem;">@product.ProductName</h5>
                                        <p class="card-text text-muted">@product.Type</p>
                                        <h6 class="card-text" style="color: darkorange;">@product.Price,- /stk</h6>
                                    </div>
                                </a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <div class="d-flex justify-content-between p-2">
                                        <a class="btn btn-sm" type="button" title="ShoppingCart" asp-page="/ShoppingCart/CartItem" asp-route-id="@product.Id"><i class="fa fa-shopping-cart" title="Tilføj til kurv"></i></a>
                                        <form asp-page="/WishlistPage/ConfirmWishlist" method="post" style="display:inline-block">
                                            <input type="hidden" name="id" value="@product.Id" />
                                            <button type="submit" class="btn btn-sm"><i class="fa-sharp fa-solid fa-heart" title="Tilføj til ønskeliste"></i></button>
                                        </form>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
