@page
@model ÆGTESemesterProjekt.Pages.User.CreateUserModel
@{
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/SignUp.css" />
    <link rel="stylesheet" href="~/css/Frontpage.css" />

</head>
<body>
<div class="form-container">
       
        <form method="post">
                <div class="form-group">
                    <h1>
                        Opret en konto
                    </h1>
@*             <div class="form-group">
                <label asp-for="@Model.Id" class="control-lable"></label>
                <input asp-for="@Model.Id" class="form-control" />

            </div> *@
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.UserName" class="control-lable"></label>
                <input asp-for="@Model.UserName" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="@Model.Password" class="control-lable"></label>
                <input asp-for="@Model.Password" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-lable"></label>
                <input asp-for="@Model.Phone" class="form-control" />

            </div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-lable"></label>
                <input asp-for="@Model.Email" class="form-control" />

            </div>
            <div class="form-group">
                <input type="submit" value="Opret" class="button" />
            </div>
            </div>
            <div>
                <a asp-page="/Login/LogInPage">Har en konto?</a>
            </div>
        </form>
    </div>

</body>
