@page
@model ÆGTESemesterProjekt.Pages.User.GetAllCustomersModel
@{
}
<h1>Alle brugere</h1>

<table class="table table-bordered table-hover table-striped">
    <thread>
        <tr>
            <th>
                Id
            </th>
            <th>
                Bruger Navn
            </th>
            <th>
                Navn
            </th>
            <th>
                Telefon Nummer
            </th>
            <th>
                Email
            </th>
        </tr>
    </thread>
    <tbody>
        @if (Model.users != null)
        {
            foreach (var product in Model.users)
            {
                <tr>
                    <td>
                        @product.UserId
                    </td>
                    <td>
                        @product.UserName
                    </td>
                    <td>
                        @product.Name
                    </td>
                    <td>
                        @product.Phone
                    </td>
                    <td>
                        @product.Email
                    </td>
                </tr>
            }
        }
    </tbody>
</table> 