@page
@model ÆGTESemesterProjekt.Pages.RepairPage.CreateRepairModel
@{
}
<h1>Create new Repair Ticket</h1>

<form method="post">
	<div class="form-group">
		<label asp-for="@Model.Repair.CaseId" class="control-label"></label>
		<input asp-for="@Model.Repair.CaseId" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.RepProduct" class="control-label"></label>
		<input asp-for="@Model.Repair.RepProduct" class="form-control" />
		<select id="repProduct">
			@foreach (var product in Model.ProductsList)
			{
				<option value="@product.Id">@product.ProductName</option>
			}
		</select>

	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.Description" class="control-label"></label>
		<input asp-for="@Model.Repair.Description" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.SubDate" class="control-lable"></label>
		<input asp-for="@Model.Repair.SubDate" class="form-control" />
	</div>

	<div class="form-group">
		<label asp-for="@Model.Repair.Image" class="control-lable"></label>
		<input asp-for="@Model.Repair.Image" class="form-control" />
		<span asp-validation-for="@Model.Repair.Image" class="text-danger"></span>
	</div>

	<div class="mb-3">
		<label for="formFile" class="form-label">Default file input example</label>
		<input class="form-control" type="file" id="formFile">
	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.EstDate" class="control-lable"></label>
		<input asp-for="@Model.Repair.EstDate" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.RepPrice" class="control-lable"></label>
		<input asp-for="@Model.Repair.RepPrice" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="@Model.Repair.RepairStatus" class="control-lable"></label>
		<input asp-for="@Model.Repair.RepairStatus" class="form-control" />
		<select id="statusSelect">
			@foreach (var status in Enum.GetValues(typeof(Models.Repair.Status)))
			{
				<option value="@status">@status</option>
			}
		</select>
	</div>


	<p>
		<div class="form-group">
			<input type="submit" value="Create" class="btn btn-primary" />
		</div>
	</p>
</form>