@page
@model ÆGTESemesterProjekt.Pages.RepairPage.GetAllRepairsModel
@{
}
<h1>Repairs</h1>
<div class="container mx-auto mt-4" style="max-width: 95%;">
    <div class="row">
        @if (Model.Repairs != null)
        {
            foreach (var product in Model.Repairs)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="card" style="width: 18rem; margin: 10px;">
                        <div class="card-body">
                            <img src="~/images/@product.Image" style="max-width: 95%; display: block; margin: auto; padding: 25px;">

                            <h6 class="card-subtitle mb-2 text-muted">Id: @product.CaseId</h6>
                            <h5 class="card-text">Angivet produkt</h5>
                            <p class="card-title">@product.RepProduct</p>
                            <br /> 
                            <h5 class="card-text">Reperations beskrivelse</h5>
                            <p class="card-text">@product.Description</p>
                            <br />
                            <h5 class="card-text">Reperations Pris</h5>
                            <p class="card-title">@product.RepPrice</p>
                            <br />
                            <h5 class="card-text">Dato modtaget.</h5>
                            <p class="card-title">@product.SubDate.ToShortDateString()</p>
                            <br />
                            <h5 class="card-text">Estimeret dato</h5>
                            <p class="card-title">@product.EstDate.ToShortDateString()</p>
                            <br />
                            <h5 class="card-text">Status</h5>
                            <p class="card-title">@product.RepairStatus</p>
                            <br />
                            <a class="btn btn-primary btn-sm" type="button" title="Redigere" asp-page="EditRepair" asp-route-id="@product.CaseId"><i class="fa-sharp fa-solid fa-pen"></i></a>
                            <a class="btn btn-danger btn-sm " type="button" title="Slet" asp-page="DeleteRepair" asp-route-id="@product.CaseId"><i class="fas fa-trash"></i></a>

                        </div>
                    </div>
                </div>

            }
        }
    </div>
</div>
<p>
    <a class="btn btn-primary" asp-page="CreateRepair">Opret Ny Ticket</a>
</p>

